// mobile btn
.mobile-menu__open{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--background-cl-body);
    border: none;
    &:hover,
    &:focus {
        fill: var(--bt-cl-secondary);
        
    }
}
.mobiile-menu__close{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--background-cl-body);
    border: none;
    &:hover,
    &:focus {
        fill: var(--bt-cl-secondary);
        
    }
}


// btn open modal
.hero-bt__open--modal {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    display: flex;
    align-items: center;
    text-align: center;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--text-white-cl);
    background-color: var(--bt-cl);

    margin-right: auto;
    margin-left: auto;
    padding: 10px 32px 10px 32px;

    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 1s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: var(--bt-cl-secondary);
        border-radius: 50%;
    }
}

// btn modal close
.backdrop-form__btn-sub__close--modal {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--background-cl-body);
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--bt-cl);
    }
}

// btn modal sub
.backdrop-form__btn-sub {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    display: flex;
    align-items: center;
    text-align: center;

    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--bt-cl);
    color: var(--text-white-cl);

    padding: 10px 55px 10px 55px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: var(--bt-cl-secondary);
    }
}

// footer social

.footer-social__link {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--background-cl-body);
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--bt-cl);
    }
}

// footer btn sub
.footer-modal__btn-sub {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 4px;
    color: var(--text-white-cl);
    background-color: var(--bt-cl);
    margin-top: 36px;
    width: 200px;
    padding: 10px 29px 10px 28px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: var(--bt-cl-secondary);
    }
}

// portfolio
.servise-bt {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--team-background-cl);
    color: var(--text-black-cl);
    cursor: pointer;

    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        color: var(--background-cl-body);
        background: var(--bt-cl);
    }
}