.mobile-menu {
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    background-color: var(--background-cl-body);
    z-index: 1;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms;

}

.mobile-menu.is-open {
    opacity: 0;
    pointer-events: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms;
}


.mobile-menu__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}

.mobile-menu__link {
    color: var(--text-black-cl);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--footer__logo-cl);
    }

    &:focus {
        color: var(--footer__logo-cl);
    }
}

.mobile-menu__list-contact {
    margin-top: auto;
    margin-bottom: 64px;
}

.mobile-menu__item-contact {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}

.mobile-menu__link-contact {
    color: var(--paragraf-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--footer__logo-cl);
    }

    &:focus {
        color: var(--footer__logo-cl);
    }
}

.mobile-menu_text-tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16px;
    letter-spacing: 0.02em;

    @include mq (mobile) {
        text-decoration: none;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
}

.mobile-menu_text-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16px;
    letter-spacing: 0.02em;
}

.mobile-menu__social {
    display: flex;
    flex-wrap: wrap;


    // @include mq(mobile) {
    //         display: flex;
    //         flex-wrap: wrap;
    //     }
}

.mobile-menu__social-item {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--footer__logo-cl);
    margin-bottom: 48px;

    @include mq(mobile) {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--footer__logo-cl);


    }

    &:last-child {
        margin-right: 0px;
    }
}

.mobile-menu_splesh {
    margin: 0 10px;
    color:
        rgba(33, 33, 33, 0.2);
}