/*
=====================================
                footer
=====================================
*/
.footer {
    background-color: var(--hero-background-cl);
    padding: 60px 0px;
}

.footer__conteiner {
    width: 320px;

    @include mq (mobile) {
        width: 480px;
    }

    @include mq (tablet-only) {
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    @include mq (desktop) {
        width: 1200px;
        display: flex;
        align-items: baseline;
    }

}

.footer__box {
    @include mq(not-desktop) {
        margin-bottom: 60px;
        text-align: center;
    }
}

.footer__address {
    @include mq(desktop) {
        margin-right: 70px;
    }
}

.footer-adress__item {
    @include mq(mobile-only) {
        margin-right: 0;
    }

    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0px;

        @include mq(desktop) {
            width: 231px;
        }

    }
}

.footer-adress__link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--background-cl-body);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--bt-nav-cl);
    }
}

.footer-adress__link-contact {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--footer-adress__link-cl);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--bt-nav-cl);
    }
}

.footer__social {
    @include mq(tablet-only) {
        margin-left: 165px;
    }
}

/*
============================
        Расылка
 ===========================
 */
.footer__modal {
    @include mq(tablet) {
        width: 450px;
    }

    @include mq(desktop) {
        width: 1200px;
        display: flex;
        margin-left: 93px;
    }

}

.footer-backdrop__label {
    @include mq(desktop) {
        display: flex;
        flex-direction: column;
        margin-right: 12px;
    }

}

.footer-backdrop__label-text {
    display: flex;

    @include mq(not-desktop) {
        justify-content: center;
    }

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-cl-body)
}

.footer-backdrop__input {
    cursor: pointer;
    outline: none;

    margin-top: 20px;
    padding: 15px 16px 15px 16px;
    width: 100%;

    @include mq(desktop) {
        width: 358px;
    }

    color: var(--background-cl-body);
    background-color: var(--hero-background-cl);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--bt-cl);
    }
}

.footer-backdrop__label:focus-within+.footer-backdrop__input {
    border-color: var(--bt-cl);
}

.footer__modal-btn {
    position: relative;

}

.footer__modal-icon {
    position: absolute;
    right: 75px;
    bottom: 12px;

    @include mq(mobile) {
        right: 155px;
    }

    @include mq(tablet) {
        right: 155px;
    }

    @include mq(desktop) {
        right: 28px;
    }

    fill: var(--background-cl-body);
}