/*
============================
        Header
============================
 */
.header {
        border-bottom: 1px solid var(--header-line);
}

.header__nav {
    @include mq (mobile-only){
    display: none;
    display: flex;
    align-items: center;
}}

.header__list {@include mq (mobile-only){
    opacity: 0;
    display: flex;
    margin-left: 93px;
}}

.header__list-contact {@include mq (mobile-only){
    opacity: 0 ;
    display: flex;
    margin-left: auto;
}}

.header__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.header__item-contact {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.header__link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-cl);

    padding: 32px 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--bt-nav-cl);
    }
}

.header__link.accent::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0%;
    background-color: var(--bt-nav-cl);
    border-radius: 2px;
}

.accent {
    color: var(--bt-nav-cl);
}

.header__link-contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--black-cl);
    padding: 32px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--paragraf-color);
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--bt-nav-cl);
    }
}

.header__icons {
    margin-right: 10px;

    &:hover,
    &:focus {
        color: var(--bt-nav-cl);
    }
}