/*
============================
        Герой
============================
 */
.hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundheader/header-img_background480.png);
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundheader/header-img@2x_background480.png);
        background-repeat: no-repeat;
        background-color: var(--hero-background-cl);
        background-size: cover;
        min-width: 320px;
        padding: 118px 0px;
        margin: 0 auto;

        @include mq(tablet-only) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url(../images/backgroundheader/header-img_background768.png);

                @include re(retina) {
                        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                                url(../images/backgroundheader/header-img@2x_768background768.png);
                }
        }

        @include mq(desktop) {
                padding: 200px 0px;
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundheader/headerbg.png);

                @include re(retina) {
                        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundheader/Img@2_background1200.png);
                }
        }
}

.hero__title {
        position: relative;
        max-width: 480px;
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--text-white-cl);

        @include mq(tablet-only) {
                margin-left: auto;
                margin-right: auto;
        }

        @include mq(desktop) {
                font-size: 44px;
                line-height: 1.36;
                text-align: center;

                max-width: 696px;
                margin-bottom: 30px;
                transition: cubic-bezier(.02, -0.3, 1, -0.01);

                animation-name: example;
                animation-duration: 1s;
                animation-fill-mode: forwards;
        }
}