/*
============================
        особености
============================
 */
.peculiarities__name {
        @include mq(mobile-only) {
                text-align: center;
        }

        flex-direction: row;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--text-black-cl);

        margin-bottom: 10px;
}

.peculiarities__list {
        @include mq(mobile-only) {
                display: block;

        }

        @include mq(tablet-only) {
                display: flex;
                flex-wrap: wrap;
        }

        @include mq(desktop) {
                display: flex;
        }
}

.peculiarities__item {
        @include mq (mobile-only) {
                margin-bottom: 30px;
                width: 450px;

                &:first-child {
                        margin-bottom: 0px;
                }
        }

        @include mq (tablet-only) {
                width: 354px;
                margin-right: 15px;
        }

        @include mq (desktop) {
                margin-left: 30px;
                width: 270px;

                &:first-child {
                        margin-left: 0px;
                }
        }
}

.peculiarities__icons {
        display: flex;
        background-color: var(--team-background-cl);
        justify-content: center;
        align-content: center;
        border-radius: 4px;
        width: 100%;
        height: 120px;

        @include mq(mobile-only) {
                padding: 25px 190px;
                margin-bottom: 30px;
        }

        @include mq(tablet-only) {
                padding: 25px 142px;
                margin-bottom: 30px;
        }

        @include mq(desktop) {
                padding: 25px 102px;
                margin-bottom: 30px;
        }
}

.peculiarities__text {
        flex-direction: row;
        line-height: 1.71;
        color: var(--paragraf-color);
}