/*
============================
        Портфолио
 ===========================
 */



.portfolio__servise-list {
    display: flex;

    @include mq(mobile-only) {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    @include mq(tablet-only) {
        margin-bottom: 40px;
        justify-content: center;
    }

    @include mq(desktop) {
        justify-content: center;
        margin-bottom: 50px;
    }

}

.portfolio__servise-item {
    margin-right: 8px;
    margin-bottom: 8px;

    &:last-child {
        margin-right: 0px;
    }

    @include mq(mobile-only) {
        &:nth-child(n+4) {
            margin-bottom: 0;
        }
    }
}

/*
============================
        проекты
 ===========================
 */
.portfolio-projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mq(tablet) {
        margin: -15px;
    }
}

.portfolio-projects__item {
    @include mq(mobile-only) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    @include mq(tablet-only) {
        width: 354px;
        width: calc((100% - 4 * 15) / 2);
        margin: 15px;
    }

    @include mq(desktop) {
        width: calc((100% - 6 * 15) / 2);
        margin: 15px;

        &:nth-child(3n+3) {
            margin-right: 0px;
        }

        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }
}

.portfolio-projects__link {
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__overley {
    position: relative;
    overflow: hidden;
}

.project__box {
    padding: 20px 24px;
    border: 1px solid var(--border-line);
    border-top: none;
}

.portfolio-projects__item.project__box {
    flex-grow: 1;
}

.portfolio-projects__link.project__box {
    flex-grow: 1;
}

.portfolio-projects__overley {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 101%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 250ms ease;
}

.portfolio-projects__overley-text {
    padding: 63px 24px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
}

.portfolio-projects__link:hover .portfolio__overley .portfolio-projects__overley,
.portfolio-projects__link:focus .portfolio__overley .portfolio-projects__overley {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-black-cl);
    padding-left: 0px;

    margin-bottom: 4px;
}

.projects__text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    color: var(--paragraf-color);

}