/*
============================
            Команда
 =========================== */
.team {
    background-color: var(--team-background-cl);
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--text-black-cl);
    margin-bottom: 50px;
}

.team__list {
    @include mq (mobile-only) {
        display: block;
    }
    
    @include mq(tablet-only){
        display: flex;
        flex-wrap: wrap;
        margin: -30px;
    }
    display: flex;
}

.team__item {
    background-color: var(--background-cl-body);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    @include mq (mobile-only) {
        margin-bottom: 30px;

        &:last -child {
            margin-bottom: 0px;
        }
    }
    @include mq (tablet-only) {
        margin: 15px;
        width: calc((100% - 4 * 15) / 2);
    }

    @include mq (desktop){
    margin-left: 30px;

    &:first-child {
        margin-left: 0px;
    }}
}

.team__box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-box___name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--text-black-cl);

    margin-bottom: 10px;
}

.team-box___text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--paragraf-color);
    margin-bottom: 16px;
}

.team-box__social-list {
    display: flex;
    justify-content: center;
}

.team-box___social-item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;

    }


}