/*
============================
        публикация работ
============================
 */
.work {
    @include mq(not-desktop) {
        padding: 0;

    }
}

.work__conteiner {
    @include mq(not-desktop) {
        display: none;
    }
}

.work {
    padding-top: 0;
}

.work__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--text-black-cl);
    margin-bottom: 50px;
}

.work__list {
    display: flex;
}

.work__images {
    position: relative;
    margin-left: 30px;

    &:first-child {
        margin-left: 0px;
    }
}

.work__images::before {
    position: absolute;
}

.work__text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--background-cl-body);
    background-color: rgba(47, 48, 58, 0.8);

    left: 0%;
    bottom: 0%;
    height: 70px;
    width: 100%;
}